<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>用户主页</title>
    <!-- Bootstrap -->
    <link href="../../statics/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../statics/css/login.css" rel="stylesheet">
    <link href="../../statics/css/userInfo.css" rel="stylesheet">
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="../../statics/js/jquery-3.4.1.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="../../statics/js/bootstrap.min.js"></script>
    <script src="../../statics/js/main.js"></script>
</head>
<body>
<div class="container-fluid">

    <div class="row page">

        <div class="left-area col-md-2">
            <div class="row notes">

                <div class="row left-head">
                    <div class="col-md-4 col-md-offset-3 notes-label">笔记</div>
                    <div class="col-md-5 more-line"><a href="#">>>更多</a></div>
                </div>

                <div class="row notes-body">

                </div>

            </div>

            <div class="row system-msg">
                <div class="row left-head">
                    <div class="col-md-4 col-md-offset-3 notes-label">公告</div>
                    <div class="col-md-5  more-line"><a href="#">>>更多</a></div>
                </div>
                <div class="row"></div>
            </div>
        </div>

        <div class="center-area col-md-8">

            <div class="row center-head">

                <div class="col-md-2 grade">等级：1</div>

                <div class="col-md-4 col-md-offset-2 userInfo-label">走神博客</div>

                <div class="col-md-4 row info-bar">

                    <div class="col-md-5 col-md-offset-4 create-article">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false"> 开始创作 <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">发博文</a></li>
                                <li><a href="#">写笔记</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3  userInfo-head">
                        <img class="img-circle col-md-4 head-img" src="../../statics/image/head.jpg" alt="头像">
                    </div>
                </div>

            </div>

            <div class="row center-body"></div>

        </div>

        <div class="right-area col-md-2">

            <div class="row blog-menu">

                <div class="row right-head">
                    <div class="col-md-6 col-md-offset-1 blog-menu-label">博文目录</div>
                    <div class="col-md-5 more-line"><a href="#">>>更多</a></div>
                </div>

                <div class="row blog-menu-body"></div>

            </div>

        </div>

    </div>

</div>


</body>
</html>