<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.zoushen.dao.UserDao">
    <select id="findNextExperienceByUsername" parameterType="string" resultType="int">
        SELECT g.`experience`
        FROM users_info u
        LEFT JOIN grade_rule g
        ON u.`experience` &lt; g.`experience`
        WHERE username = #{username}
        GROUP BY u.`id`
    </select>

    <select id="findUserByName" parameterType="string" resultType="UserInfo">
      SELECT u.*,MAX(g.`level`) `level`
      FROM users_info u
      LEFT JOIN grade_rule g
      ON u.`experience` >= g.`experience`
      WHERE username = #{username}
      GROUP BY u.`id`
    </select>

    <insert id="insertByUser" parameterType="UserInfo">
        insert into users_info (username,password,email,sex,zsNum,birthday)
        value (#{username},#{password},#{email},#{sex},#{zsNum},#{birthday})
    </insert>
</mapper>